/* ------Font---- */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Pacifico&display=swap');

/* ---------Common Section----- */
.container {
    margin: 5% 5%;
    min-height: auto;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 52px;
    margin: 0;
}

h2 {
    font-size: 28px;
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 0;
}

.font-size-1 {
    font-size: 24px;
}

p {
    font-size: 16px;
    margin: 0;
}

.button {
    background-color: #E02C6D;
    padding: 10px 24px;
    width: 135px;
    border-radius: 20px;
}

.button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

.arro {
    color: white;
}

/* --------Header Section----- */

header h2 {
    padding: 2%;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 24px;
}

/* ------Main Head Section----- */

.head-section {
    display: flex;
}

.head-text {
    width: 60%;
    padding: 2%;
}

.par-text {
    width: 70%;
    margin-bottom: 30px;
}

.header-image {
    width: 40%;
    padding: 2%;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}

/* ------Popular Collection------ */

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px;
}

.popular-collection h2 {
    margin: 40px 0;
    text-align: center;
}

.product {
    box-shadow: 5px 5px 50px 1px #AAAAAA;
    border-radius: 10px;
    padding: 5%;

}

.product-info {
    width: 100%;
}

.product img {
    width: 100%;
}

.star-color {
    color: orange;
}

.prouduct-text p {
    font-size: 14px;
}

.see-more {
    margin: 50px 0;
    display: flex;
    justify-content: flex-end;
    
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-style a {
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    margin-right: 5px;
}

.arro-style {
    color: #E02C6D;
}

/* --------Footer Section-------- */

.footer-container {
    background-color: #0A0826;
    color: white;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.align-content {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.icon-gap {
    margin: 0 10px;
}
